*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@viewport {
  zoom: 1;
  width: device-width; }

@-ms-viewport {
  zoom: 1;
  width: device-width; }

html {
  font-size: 62.5%;
  /*@include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 29%;
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }*/ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 47%; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    html {
      font-size: 28%; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    html {
      font-size: 28%; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    html {
      font-size: 30%; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    html {
      font-size: 30%; } }

body {
  box-sizing: border-box;
  padding: 4rem;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    body {
      padding: 4rem 0 0 0; } }

@font-face {
  font-family: Helvetica Bold;
  src: url("../../fonts/helvetica_bold.ttf") format("opentype"); }

.header {
  height: 7.5rem;
  display: flex;
  background: #fee600;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: relative;
  z-index: 5; }
  @media only screen and (max-width: 75em) {
    .header {
      height: 10.5rem; } }
  .header__logo {
    height: 15rem;
    width: 15rem; }
    .header__logo img {
      object-fit: cover;
      display: block;
      height: 14rem;
      width: 14rem;
      transform: translateX(-3.5rem) translateY(0.5rem); }
      @media only screen and (max-width: 75em) {
        .header__logo img {
          height: 21rem;
          width: 21rem; } }
    @media only screen and (max-width: 75em) {
      .header__logo {
        height: 21rem;
        width: 21rem; } }
  .header__menu {
    display: flex; }
  .header__items--mobile {
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center; }
    .header__items--mobile span {
      display: inline-block;
      background: #000000;
      height: 0.7rem;
      width: 6.5rem;
      margin: 0.5rem 0;
      border-radius: 3rem;
      transition: all 0.2s ease; }
    @media only screen and (max-width: 75em) {
      .header__items--mobile {
        display: flex; } }
  @media only screen and (max-width: 75em) {
    .header__search {
      display: none; } }
  .header__items {
    display: flex;
    color: #000000;
    font-size: 1.9rem;
    font-family: Helvetica Bold; }
    .header__items--item {
      padding: 0.5rem 3rem;
      position: relative;
      cursor: pointer; }
      @media only screen and (max-width: 75em) {
        .header__items--item {
          display: none; } }
      .header__items--item:not(:nth-child(1))::before {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 0.2rem;
        background: #000000; }
    .header__items--svg {
      height: 2.5rem;
      width: 2.5rem;
      fill: #fff;
      display: inline-block;
      transform: rotate(-100deg) translateX(-0.5rem);
      cursor: pointer; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  align-items: center;
  flex-direction: column;
  text-align: left;
  background: #ffcf3b;
  padding: 20rem 0 0 0; }
  .dropdown-check {
    display: none;
    position: absolute;
    z-index: 0; }
    .dropdown-check:checked ~ .dropdown {
      display: flex;
      z-index: 3; }
    .dropdown-check:checked ~ .header > .header__menu > .header__items > .header__items--mobile span:nth-child(1) {
      transform: rotate(51deg) translate(1.5rem, 1.2rem); }
    .dropdown-check:checked ~ .header > .header__menu > .header__items > .header__items--mobile span:nth-child(2) {
      opacity: 0; }
    .dropdown-check:checked ~ .header > .header__menu > .header__items > .header__items--mobile span:nth-child(3) {
      transform: rotate(-47deg) translate(0.88rem, -1.1rem); }
  .dropdown__item {
    color: #000000;
    margin: 1rem 0;
    width: 100%;
    padding: 0rem 4rem;
    font-size: 4.1rem;
    font-weight: 700;
    margin-bottom: 7rem;
    text-transform: uppercase;
    animation-name: moveInLeft;
    animation-timing-function: ease-out; }
    .dropdown__item:nth-child(1) {
      animation-duration: 0.2s;
      transition: all 0.3s 0.2s ease-out; }
    .dropdown__item:nth-child(2) {
      animation-duration: 0.4s;
      transition: all 0.3s 0.4s ease-out; }
    .dropdown__item:nth-child(3) {
      animation-duration: 0.6s;
      transition: all 0.3s 0.6s ease-out; }

@font-face {
  font-family: Lunchbox Regular;
  src: url("../fonts/lunchbox.otf") format("opentype"); }

.slider {
  height: 60rem;
  margin-top: 4rem;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  line-height: 8rem;
  background-size: cover;
  background-position: top;
  position: relative;
  transition: all 3s ease; }
  .slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(30, 39, 46, 0.2);
    transition: all 3s ease;
    z-index: 1; }
  .slider__header {
    position: relative;
    z-index: 2; }
    .slider__header h2 {
      font-size: 11rem;
      font-family: Lunchbox Regular;
      color: #fff; }
      .slider__header h2 span {
        display: block; }
  .slider__slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 3s ease;
    opacity: 0; }
  .slider__slide-1 {
    background-image: url(../imgs/slider-1.jpg); }
    @media only screen and (max-width: 37.5em) {
      .slider__slide-1 {
        background-image: url(../imgs/slider-mobile-1.jpg); } }
    @media only screen and (max-width: 375px) {
      .slider__slide-1 {
        background-image: url(../imgs/mobile-slider-375-1.jpg); } }
    .slider__slide-1::after {
      opacity: 0;
      transition: all 3s ease; }
  .slider__slide-2 {
    background-image: url(../imgs/slider-2.jpg); }
    @media only screen and (max-width: 37.5em) {
      .slider__slide-2 {
        background-image: url(../imgs/slider-mobile-2.jpg); } }
    @media only screen and (max-width: 375px) {
      .slider__slide-2 {
        background-image: url(../imgs/mobile-slider-375-2.jpg); } }
    .slider__slide-2::after {
      opacity: 0;
      transition: all 3s ease; }
  .slider__slide-3 {
    background-image: url(../imgs/slider-3.jpg); }
    @media only screen and (max-width: 37.5em) {
      .slider__slide-3 {
        background-image: url(../imgs/slider-mobile-3.jpg); } }
    @media only screen and (max-width: 375px) {
      .slider__slide-3 {
        background-image: url(../imgs/mobile-slider-375-3.jpg); } }
  .slider--btn {
    font-size: 1.7rem;
    color: #fff;
    background: red;
    border-radius: 28rem;
    padding: 1.5rem 4rem;
    font-weight: 600;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .slider--btn {
        padding: 2.5rem 4rem;
        font-size: 1.9rem; } }

.visible-slide {
  opacity: 1; }

.products {
  position: relative;
  height: 76rem;
  margin-top: 4rem;
  background-image: url(../imgs/product-hanger.jpg);
  padding: 5rem 7rem;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .products {
      padding: 5rem 3.5rem; } }
  @media only screen and (max-width: 375px) {
    .products {
      background-image: url(../imgs/mobilevariantslider375.jpg); } }
  .products::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1; }
  .products__variants {
    flex-shrink: 0;
    flex-basis: 100%; }
    .products__variants:nth-child(2) {
      opacity: 0; }
  .products__slide {
    position: relative;
    z-index: 1;
    display: flex;
    flex-shrink: 0;
    transition: all 0.5s ease; }
    .products__slide-checkbox {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0; }
      .products__slide-checkbox:checked ~ .products__slide {
        transform: translateX(-100%); }
      .products__slide-checkbox:checked ~ .products__slide > .products__variants:nth-child(1) {
        opacity: 0; }
      .products__slide-checkbox:checked ~ .products__slide > .products__variants:nth-child(2) {
        opacity: 1; }
    .products__slide-checkbox2 {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0; }
      .products__slide-checkbox2:checked ~ .products__slide {
        transform: translateX(-150%); }
      @media only screen and (max-width: 37.5em) {
        .products__slide-checkbox2:checked ~ .products__slide > .products__variants:nth-child(2) {
          overflow: visible; } }
      .products__slide-checkbox2:checked ~ .products__slide > .products__variants:nth-child(2)--variant:nth-child(1) {
        opacity: 0; }
      .products__slide-checkbox2:checked ~ .products__slide
> .products__variants:nth-child(2)
> .products__variants--variant:nth-child(1) {
        opacity: 0; }
    .products__slide-nav {
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      width: 6rem;
      top: 0;
      cursor: pointer;
      justify-content: center;
      z-index: 2; }
      @media only screen and (max-width: 56.25em) {
        .products__slide-nav {
          width: 4rem; } }
      .products__slide-nav svg {
        height: 7rem;
        width: 7rem;
        fill: #000000; }
    .products__slide-navleft {
      left: 0; }
    .products__slide-navright {
      right: 0; }
  .products h2 {
    position: relative;
    font-size: 9rem;
    color: rgba(30, 39, 46, 0.6);
    z-index: 2; }
  .products__variants {
    position: relative;
    display: flex;
    margin-top: 3rem;
    z-index: 2;
    margin-bottom: 1rem;
    transition: all 0.1s ease;
    overflow: hidden;
    flex-shrink: 0; }
    .products__variants--variant {
      height: 49rem;
      flex-basis: 34%;
      flex-shrink: 0;
      background: #ffd26c; }
      .products__variants--variant:not(:last-child) {
        margin-right: 1rem; }
      @media only screen and (max-width: 37.5em) {
        .products__variants--variant {
          flex-basis: 50%; } }
      .products__variants--variant figure {
        background: url(../imgs/variant-placeholder.jpg);
        height: 70%; }
      .products__variants--variant-name {
        padding: 2rem;
        color: #fff;
        font-weight: 600; }
        .products__variants--variant-name p {
          font-size: 3.5rem; }
      .products__variants--variant-btn {
        border-radius: 3rem;
        padding: 1rem 3rem;
        background: red;
        color: #fff;
        margin-top: 1.5rem;
        display: inline-block;
        font-size: 1.5rem;
        cursor: pointer; }
        @media only screen and (max-width: 37.5em) {
          .products__variants--variant-btn {
            border-radius: 23rem;
            padding: 1.4rem 3rem;
            font-size: 2rem; } }
      .products__variants--variant:nth-child(1) {
        background: #ffd26c; }
    .products__variants:nth-child(2) {
      z-index: 2; }
    .products__variants:nth-child(3) {
      opacity: 0;
      z-index: 1; }
    .products__variants--cassava figure {
      background: url(../imgs/variant-1.jpg); }
  .products--nav {
    display: flex;
    justify-content: center; }
    .products--nav span {
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100%;
      margin: 0.5rem;
      background: #fff;
      cursor: pointer;
      transition: al 0.5s ease; }
    .products--nav span:nth-child(3) {
      display: none; }
      @media only screen and (max-width: 37.5em) {
        .products--nav span:nth-child(3) {
          display: inline-block; } }

.social {
  position: relative;
  height: 55rem;
  margin-top: 4rem;
  background: url(../imgs/social-media-box.jpg);
  padding: 5rem 7rem; }
  @media only screen and (max-width: 75em) {
    .social {
      padding: 5rem 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .social {
      height: 76rem; } }
  @media only screen and (max-width: 375px) {
    .social {
      background-image: url(../imgs/mobile-socialfeed375.jpg); } }
  .social h2 {
    position: relative;
    font-size: 9rem;
    color: rgba(30, 39, 46, 0.6);
    z-index: 2; }
  .social__socials {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; }
    .social__socials--card {
      position: relative;
      flex-basis: 44%;
      height: 36rem;
      margin: 0 1rem; }
      @media only screen and (max-width: 37.5em) {
        .social__socials--card {
          flex-basis: 47%; } }
      .social__socials--card-svg {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(30, 39, 46, 0.9);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .social__socials--card-svg svg {
          fill: #fff;
          height: 10rem;
          width: 10rem;
          opacity: 0.3; }
    .social__socials--embed {
      position: relative;
      width: 40rem;
      height: 36rem; }

.findus {
  background: url(../imgs/green-bg.jpg);
  position: relative;
  height: 55rem;
  margin-top: 4rem;
  padding: 5rem 7rem; }
  @media only screen and (max-width: 56.25em) {
    .findus {
      padding: 5rem 3.5rem; } }
  @media only screen and (max-width: 375px) {
    .findus {
      background-image: url(../imgs/find-us-375.jpg); } }
  .findus h2 {
    position: relative;
    font-size: 9rem;
    color: rgba(30, 39, 46, 0.6);
    z-index: 2; }
  .findus__map {
    margin-top: 1rem;
    width: 62vw;
    height: 39rem; }
    @media only screen and (max-width: 75em) {
      .findus__map {
        width: 82vw; } }
    @media only screen and (max-width: 37.5em) {
      .findus__map {
        width: 76vw; } }

.footer {
  height: 16rem;
  background: #fee600;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff; }
  .footer h2 {
    font-size: 3rem; }
  .footer span {
    cursor: pointer;
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
    background: rgba(47, 54, 64, 0.9);
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer span svg {
      height: 7rem;
      width: 7rem;
      fill: #fff; }

body {
  background: #ffcf3b;
  font-family: Arial, Helvetica, sans-serif; }

.container {
  margin: 0 auto;
  width: 75vw; }
  @media only screen and (max-width: 75em) {
    .container {
      width: 100vw; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      padding: 0 3rem 3rem 3rem; } }

/*@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/bg-video";

@import "layout/footer";
@import "layout/header";

@import "pages/home";*/
