.findus {
  background: url(../imgs/green-bg.jpg);
  position: relative;
  height: 55rem;
  margin-top: 4rem;
  padding: 5rem 7rem;

  @include respond(tab-port) {
    padding: 5rem 3.5rem;
  }

  @media only screen and (max-width: 375px) {
    background-image: url(../imgs/find-us-375.jpg);
  }

  & h2 {
    position: relative;
    font-size: 9rem;
    color: rgba(30, 39, 46, 0.6);
    z-index: 2;
  }

  &__map {
    margin-top: 1rem;
    width: 62vw;
    height: 39rem;

    @include respond(tab-land) {
      width: 82vw;
    }

    @include respond(phone) {
      width: 76vw;
    }
  }
}
