.findus {
  margin-top: 4rem;
  height: 56rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../imgs/green-bg.jpg);

  & h2 {
    position: relative;
    font-size: 9rem;
    color: rgba(30, 39, 46, 0.6);
    z-index: 2;
    width: 100%;
    padding: 0 9rem;
  }

  &__map {
    margin-top: 1rem;
    width: 62vw;
    height: 39rem;

    @include respond(tab-land) {
      width: 82vw;
    }

    @include respond(phone) {
      width: 76vw;
    }
  }
}
