.social {
  position: relative;
  height: 55rem;
  margin-top: 4rem;
  background: url(../../imgs/social-media-box.jpg);
  //background-size: cover;
  //background-position: top;
  padding: 3rem 7rem;

  & h2 {
    position: relative;
    font-size: 9rem;
    color: rgba(30, 39, 46, 0.6);
    z-index: 2;

    padding: 0 4rem;
  }

  &__socials {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

    &--card {
      position: relative;
      width: 40rem;
      height: 36rem;
      margin: 0 1rem;

      &-svg {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(30, 39, 46, 0.9);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & svg {
          fill: #fff;
          height: 10rem;
          width: 10rem;
          opacity: 0.3;
        }
      }
    }

    &--embed {
      position: relative;
      width: 40rem;
      height: 36rem;
    }
  }
}
