*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@viewport {
  zoom: 1;
  width: device-width;
}

@-ms-viewport {
  zoom: 1;
  width: device-width;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;

  /*@include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 29%;
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }*/

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 47%; //1 rem = 8px, 8/16 = 50%
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    font-size: 28%;
  }

  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    font-size: 30%;
  }
}

body {
  box-sizing: border-box;
  padding: 4rem;
  overflow-x: hidden;

  @include respond(tab-land) {
    padding: 4rem 0 0 0;
  }
}

::selection {
  //background-color: $color-primary;
  //color: $color-white;
}
